* {
  scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-left: 1px solid #ddd;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #303D5F;
  border-left: 1px solid #ddd;
  border-radius: 2px;
}
.mobile-navbar.nav-active {
  transform: translateX(0);
}
.close-layer {
  display: none;
}
.close-layer.close-active {
  display: block;
}
.nav-link:hover, .nav-link a:focus {
  color: rgb(206, 205, 205);
}
.nav-list li a {
  padding: 10px 15px;
  display: flex;
  align-items: center;
}
.nav-list li a i {
  font-size: .8em;
  padding-left: .3rem;
}
.nav-list li a img {
  width: 20px;
  margin-right: .7rem;
}
@media screen and (min-width: 1024px) {
  .nav-list li a img {
    display: none;
  }
}
.social-media li,
.link-wrapper li {
  transition: all 300ms ease;
}
.social-media li:hover {
  transform: translateY(-0.25rem) scale(1.1);
}
/* custom Youtube video */
.youtube-wrapper {
  width: 560px;
  height: 314px;
}
.youtube-wrapper + img {
  user-select: none;
  -webkit-user-drag: none;
  padding: 0 2rem;
}
@media screen and (max-width: 992px) {
  .nav-list li a {
    color: #808080;
  }
}
@media screen and (max-width: 768px) {
  .youtube-wrapper {
    width: 70vw;
    height: 300px;
  }
  .nav-link a {
    display: flex;
  }
  .nav-link a iimg {
    width: 44px;
  }
}
@media screen and (max-width: 600px) {
  .youtube-wrapper {
    width: 75vw;
    height: 230px;
  }
}
@media screen and (max-width: 562px) {
  .youtube-wrapper {
    width: 80vw;
    height: 225px;
  }
}

/* responsive generator from https://embedresponsively.com/ */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .mobile-navbar {
    transform: translateX(-100%);
  }
  .youtube-wrapper + img {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .youtube-wrapper + img {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .berita-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
#semua-berita:hover img {
  transform: translateX(0.3rem);
}

.mini-article-img {
  width: 130px;
}
.flickity-page-dots {
  bottom: -70px;
}
.flickity-prev-next-button {
  display: none;
}
.icon-link small img {
  transition: .3s all ease;
  margin-left: .5rem;
}
.icon-link:hover small img {
  transform: translateX(.3rem);
}

.swiper-pagination-bullet {
  margin: 0 10px;
  width: .8rem;
  height: .8rem;
}

.dropdown-menu a:focus + .dropdown-content {
  display: flex;
}

.dropdown-menu a i {
  transition: .3s all ease;
}
.dropdown-menu a:focus i {
  transform: rotateZ(-180deg);
  transform-origin: center;
  margin-left: .4rem;
  margin-right: -.4rem;
}
.dropdown-content li:hover {
  background-color: #ddd;
}

#pagination::-webkit-scrollbar {
  height: 3px;
}